* {
	box-sizing: border-box;
}
html, body {
	background-color: #f5f5f5;
	height: 100%;
	margin: 0;
}
body {
	transition: all 0.5s ease;
}
body.dark-mode {
	filter: invert(0.95);
}
.container {
	max-width: 960px;
	padding: 32px 40px;
	margin: 0 auto;
}
.main-container {
	background-color: #fff;
	border: 1px solid #eee;
	border-radius: 6px;
}
.container-inner {
	animation: fadein 400ms;
}
.row {
	display: flex;
}
.row.second-row {
	margin-top: 6px;
}
input, select, textarea {
	width: 100%;
	display: block;
	font-size: 18px;
	padding: 8px 12px 6px;
	border-radius: 4px 4px 0 0;
	color: rgba(0,0,0,.87);
	background-color: rgba(245, 245, 245, 1);
	border: none;
	-webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,1);
	transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
}
select {
	padding: 5px 12px;
}
input:hover, select:hover, textarea:hover {
	-webkit-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,1);
	box-shadow: inset 0px -1px 0px 0px rgba(0,0,0,1);
}
input:active, select:active, textarea:active {
	border: none;
	outline: none;
	background-color: rgb(224, 224, 224);
	-webkit-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
	box-shadow: inset 0px -2px 0px 0px rgba(0,0,0,1);
}
input:focus, select:focus, textarea:focus {
	outline: none;
}
input:disabled, select:disabled, textarea:disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
input:disabled:active, select:disabled:active, textarea:disabled:active {
	background-color: rgb(255, 246, 246);
}
label {
	color: #777;
	text-transform: uppercase;
	font-size: 10px;
}
.requirements {
	opacity: 0;
	display: block;
	position: relative;
	transform: translateY(-4px);
	color: #444;
	text-transform: uppercase;
	font-size: 8px;
	transition: all 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-wrapper:hover .requirements {
	transform: translateY(6px) scale(1) !important;
	opacity: 1 !important;
}
.textWarning {
	animation: textWarning 3s;
}
.input-wrapper {
	flex-grow: 1;
	margin-right: 24px;
}
.input-wrapper:last-child {
	margin-right: 0;
}
.checkbox-wrapper {
	flex-grow: 0;
	text-align: center;
}
input, select, label, h1, h2, span, button, p {
	font-family: 'Roboto', sans-serif;
}
h1, h2 {
	color: #333;
	font-weight: 400;
	margin-top: 0;
	margin-bottom: 2px;
}
h1 {
	font-weight: 300;
}
#output {
	width: 100%;
	padding: 12px 14px;
	resize: none;
}
.center {
	margin: 0 auto;
}
button {
	color: #444;
	font-weight: 300;
	border: 1px solid rgba(68, 68, 68, 0);
	background-color: rgba(245, 245, 245, 0);
	border-radius: 4px;
	cursor: pointer;
	transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover {
	border: 1px solid rgba(68, 68, 68, 1);
}
button:active {
	outline: none;
	background-color: rgba(245, 245, 245, 1);
}
button:focus {
	outline: none;
}
input[type="checkbox"] {
	height: 1.8em;
	width: 1.8em;
}
input[type="checkbox"]:hover, input[type="checkbox"]:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
#copyText {
	font-size: 18px;
	padding: 12px 18px;
}
#toggleMode {
	font-size: 18px;
	width: 32px;
	height: 32px;
	text-align: center;
}
nav .container, footer .container {
	display: flex;
	padding: 24px 0;
}
#menu-bar {
	text-align: right;
}
.page-title {
	margin: 0;
}
nav .container div {
	flex: 1;
}
#navigation {
	text-align: right;
}
#navigation button {
	padding: 8px;
	margin: 0 3px;
	border: none;
	border-radius: 0;
}
#navigation button.active {
	border-bottom: 1px solid rgba(68, 68, 68, 1);
}
#navigation button:hover {
	border-bottom: 1px solid rgba(68, 68, 68, 1);
}
#navigation button:active {
	color: rgba(0,0,0,1);
	border-bottom: 1px solid rgba(0, 0, 0, 1);
}
#navigation button:disabled {
	cursor: default;
	pointer-events: none;
	opacity: 0.6;
}
.tab-content {
	display: none;
}
.content-selected {
	display: block;
}
.toggle-container {
	text-align: right;
}
footer p {
	font-weight: 100;
}
a {
	text-decoration: none;
	color: #777;
}
a:hover {
	color: #aaa;
}
a:active, a:focus {
	color: #666;
}
::selection {
	background: #aaa;
}
@keyframes fadein {
	0% { opacity: 0; }
	40%   { opacity: 0; }
	100%   { opacity: 1; }
}
@keyframes textWarning {
	0%   { color: #db0000;opacity:1;transform: translateY(6px); }
	80%  { color: #db0000;opacity:1;transform: translateY(6px); }
	100% { color: #444;opacity:0;transform: translateY(-4px); }
}